@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* CSS VARIABLES */
:root {
  /* Logo */
  --logo-clr: rgb(255, 255, 255);

  /* Text Shades */
  --h1-clr: rgb(255, 255, 255);
  --h2-clr: rgb(18, 94, 164);
  --h3-clr-dark: rgb(18, 94, 164);
  --h3-clr-dark-2: rgb(67, 162, 163);
  --h3-clr-light: rgb(248, 248, 248);
  --h4-clr-dark: rgb(67, 162, 163);
  --h4-clr-light: rgb(248, 248, 248);
  --p-clr-dark: rgb(70, 70, 70);
  --p-clr-dark-2: rgb(95, 95, 95);
  --p-clr-dark-3: rgb(115, 115, 115);
  --p-clr-dark-4: rgb(67, 162, 163);
  --p-clr-light: rgb(255, 255, 255);
  --p-clr-light-2: rgb(246, 246, 246);
  --p-clr-light-3: rgb(228, 228, 228);
  --p-sub-title: rgb(38, 38, 119);
  --p-clr-footer: rgb(133, 133, 133);
  --p-span-price: rgba(252, 159, 52, 1);
  --p-sup-clr: rgb(67, 162, 163);

  /* Background Shades */
  --bg-body-clr: rgb(120, 205, 207);
  --bg-quick-links-bar-clr: rgb(67, 162, 163);
  --bg-nav-clr: rgb(67, 162, 163);
  --bg-nav-container-clr: rgb(120, 205, 207);
  --bg-nav-container-clr-light: rgb(246, 246, 246);
  --bg-nav-container-clr-dark: rgb(51, 53, 66);
  --bg-nav-line: rgba(72, 135, 125, 0.15);
  --bg-header-clr: rgb(120, 205, 207);
  --bg-header-tax-returns: rgb(246, 246, 246);
  --bg-section-clr-1: rgb(255, 255, 255);
  --bg-section-clr-2: rgb(246, 246, 246);
  --bg-fade-clr-light: rgba(220, 220, 220, 0.85);
  --bg-fade-clr-dark: rgba(0, 0, 0, 0.4);
  --bg-notification-clr-light: rgb(255, 255, 255);
  --bg-recommended-clr-1: rgba(252, 159, 52, 1);
  --bg-recommended-clr-2: rgb(220, 20, 60);

  /* before */
  --bg-cards-clr-dark: rgb(67, 162, 163);
  --bg-cards-clr-medium: rgb(249, 249, 249);
  --bg-cards-clr-light: rgb(255, 255, 255);

  --bg-hamburger-el-clr: rgb(255, 255, 255);
  --bg-hamburger-el-clr-2: rgb(38, 38, 119);
  --bg-main-clr-1: rgba(242, 242, 242, 0.5);
  --bg-main-clr-2: rgb(244, 248, 252);
  --bg-info-clr-dark: rgb(18, 94, 164);
  --bg-info-clr-light: rgb(255, 255, 255);
  --bg-info-clr-gray: rgba(248, 248, 248, 0.5);
  --bg-nav-item-after-clr-1: rgba(255, 255, 255, 0.4);
  --bg-nav-item-after-clr-2: rgb(255, 255, 255);
  --bg-footer-clr: rgb(51, 53, 66);
  --bg-copyright-clr: rgb(57, 59, 72);

  /* SVG Shades */
  --svg-top-phone-icon-clr: rgb(255, 255, 255);
  --svg-social-icons-clr-dark: rgb(70, 70, 70);
  --svg-social-icons-clr-light: rgb(214, 214, 214);
  --svg-social-icons-clr-white: rgb(255, 255, 255);
  --svg-close-icon-clr-dark: rgb(70, 70, 70);
  --svg-close-icon-clr-light: rgba(70, 70, 70, 0.75);
  --svg-cards-icons-clr: rgb(67, 162, 163);
  --svg-cards-icons-clr-dark: rgb(18, 94, 164);
  --svg-stroke-clr-light: rgb(237, 245, 253);
  --svg-services-icon-clr: rgb(67, 162, 163);
  --svg-success-icon-clr: rgb(23, 126, 13);
  --svg-submitting-icon-clr: rgba(70, 70, 70, 0.75);
  --svg-go-to-top-icon-clr: rgb(67, 162, 163);
  --svg-go-to-top-icon-clr-light: rgb(120, 205, 207);

  /* Button Shades */
  --bg-button-clr-dark: rgb(252, 159, 52);
  --bg-button-clr-light: rgb(255, 173, 79);

  /* Close menu button */
  --close-mobile-menu-button-clr: rgb(67, 162, 163);

  /* WIDTH */
  --max-width: 87.5rem;

  /* PADDING */
  --pad-tiny: 0.75rem;
  --pad-small: 1rem;
  --pad-medium: calc(var(--pad-small) * 2);
  --pad-large: calc(var(--pad-small) * 3);
  --pad-extra-large: calc(var(--pad-small) * 4);
  --pad-huge: calc(var(--pad-small) * 5);
  --pad-left-right-small: 0 1rem;
  --pad-left-right-medium: 0 2rem;
  --pad-left-right-large: 0 3rem;
  --pad-left-right-extra-large: 0 4rem;

  /* GAP */
  --gap-tiny: 0.5rem;
  --gap-small: 1rem;
  --gap-medium: calc(var(--gap-small) * 2);
  --gap-large: calc(var(--gap-small) * 3);
  --gap-extra-large: calc(var(--gap-small) * 4);
  --gap-huge: calc(var(--gap-small) * 5);

  /* FONT */
  --ff-heading: "Roboto", sans-serif;
  --ff-text: "Lato", sans-serif;

  /* BORDER */
  --border-radius: 4px;
  --border-clr-light: rgb(255, 255, 255);
  --border-clr-light-2: rgb(230, 230, 230);
  --border-clr-dark: rgb(18, 94, 164);
  --border-clr-dark-2: rgb(67, 162, 163);
  --border-bottom-clr-light: rgba(255, 255, 255, 0.1);
  --border-button-clr: rgb(67, 162, 163);
  --border-button-clr-light: rgb(120, 205, 207);

  /* SHADOW */
  --box-shadow-dark: 0 1rem 3rem rgba(33, 33, 33, 0.1);
  --box-shadow-dark-bottom: 0 1rem 1.5rem rgba(33, 33, 33, 0.1);
  --box-shadow-left-dark: 1rem 0 3rem rgba(33, 33, 33, 0.1);
  --box-shadow-right-dark: -1rem 0 3rem rgba(33, 33, 33, 0.5);
  --text-shadow-light: 2px 2px 6px rgba(242, 242, 242, 0.75);
  --text-shadow-medium: 2px 2px 6px rgb(89, 89, 89, 0.25);
  --text-shadow-dark: 2px 2px 6px rgba(89, 89, 89, 0.75);

  /* TRANSITION */
  --transition-eio: 0.25s ease-in-out;
  --transition-eio-medium: 0.5s ease-in-out;
  --transition-eio-slowly: 0.75s ease-in-out;
}

/* STYLES BY DEFAULT */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

input,
select,
button,
textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

a,
a:link,
a:visited,
a:active,
a:hover {
  text-decoration: none;
}

a {
  cursor: pointer;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-size: inherit;
  font-weight: 400;
  line-height: 1;
}

p {
  padding: 0;
  margin: 0;
  line-height: 1;
}

ul,
li {
  padding: 0;
  margin: 0;
  line-height: 1;
}

/* PROJECT'S STYLES */
html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--scroll-padding-top);
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1;
  box-sizing: border-box;
}

/* TYPOGRAPHY */
h1 {
  font-family: var(--ff-heading);
  font-size: 3rem;
  font-weight: 400;
  color: var(--h1-clr);
  line-height: 1.2;
  letter-spacing: 0.1rem;
}

h2 {
  font-family: var(--ff-heading);
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--h2-clr);
  line-height: 1;
  padding: 0 0 1.5rem 0;
}

h3 {
  font-family: var(--ff-heading);
  font-size: 2rem;
  font-weight: 400;
  color: var(--h3-clr-dark);
  line-height: 1.3;
  padding-bottom: 0.5rem;
}

h4 {
  font-family: var(--ff-heading);
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--h4-clr-light);
  line-height: 1.3;
  padding-bottom: 1.3rem;
}

p {
  font-family: var(--ff-text);
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--p-clr-dark);
  line-height: 1.5;
}

p:not(:last-child) {
  padding-bottom: 0.75rem;
}

ul {
  font-family: var(--ff-text);
  font-size: 1rem;
  font-weight: 400;
  color: var(--p-clr-dark);
}

li {
  list-style-position: inside;
  line-height: 1.2;
}

li:last-child {
  padding-bottom: 0.75rem;
}

/* BODY */
body {
  display: grid;
  grid-template-rows: repeat(5, min-content);
  grid-template-columns: 1fr;
  justify-items: center;
  /* background-color: var(--bg-body-clr); */
}

/* Navigation starts */
.links-flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

/* Links starts */
.links-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  height: 3rem;
  width: 100%;
  gap: 1rem;
  padding: var(--pad-left-right-small);
  background-color: var(--bg-quick-links-bar-clr);
  overflow: hidden;
}

.links-wrapper-hidden {
  display: none;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.linkedin-icon {
  display: flex;
  align-self: center;
  justify-self: flex-start;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0;
  margin: 0;
  fill: var(--svg-social-icons-clr-light);
  transition: var(--transition-eio);
}

.linkedin-icon:hover {
  fill: var(--svg-social-icons-clr-white);
}

.phone-link {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-small);
}

.phone-link-description {
  font-family: var(--ff-text);
  color: var(--p-clr-light);
  line-height: 1;
  font-size: 1rem;
  font-weight: 300;
  height: 100%;
}

.phone-link-description:not(:last-child) {
  padding-bottom: 0;
}

.phone-link-number-wrapper {
  background-color: var(--bg-button-clr-dark);
  height: 100%;
  padding: 16px 14px;
  transform: scaleX(1);
  transition: var(--transition-eio);
  backface-visibility: hidden;
}

.phone-link-number-wrapper:hover {
  background-color: var(--bg-button-clr-light);
}

.phone-link-number {
  font-family: var(--ff-text);
  line-height: 1;
  font-size: 1rem;
  font-weight: 400;
  color: var(--p-clr-light);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.link-icon-span {
  display: none;
}

.top-phone-icon {
  display: flex;
  align-self: center;
  justify-self: center;
  fill: var(--svg-top-phone-icon-clr);
  width: 1.6rem;
  height: 1.6rem;
  padding: 0;
  margin: 0;
  background-color: var(--bg-button-clr-dark);
  padding: 0.15rem;
  border-radius: var(--border-radius);
}
/* Links ends */

.nav-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6rem;
  width: 100%;
  background-color: var(--bg-nav-container-clr);
  transition: var(--transition-eio);
}

.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: var(--max-width);
  gap: var(--gap-small);
  padding: var(--pad-left-right-large);
  transition: var(--transition-eio);
}

.sticking {
  position: fixed;
  top: 0;
  height: 4rem;
  background-color: var(--bg-nav-clr);
  z-index: 1001;
  box-shadow: var(--box-shadow-dark-bottom);
}

.logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}

.logo-icon {
  display: block;
  width: 100%;
  max-width: 1.85rem;
  height: 100%;
  max-height: 1.85rem;
  fill: var(--logo-clr);
  flex-shrink: 0;
}

.logo-text-span {
  display: block;
  margin: 0;
  color: var(--logo-clr);
  font-family: var(--ff-heading);
  text-transform: uppercase;
  text-align: left;
  font-weight: 400;
  font-size: 2rem;
  line-height: 1;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-medium);
}

.nav-item {
  font-family: var(--ff-text);
  color: var(--p-clr-light);
  font-size: 1.1rem;
  font-weight: 400;
  backface-visibility: hidden;
  position: relative;
}

.nav-item:hover {
  color: var(--p-clr-light);
}

.nav-item::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: var(--bg-nav-item-after-clr-1);
  transition: var(--transition-eio);
}

.nav-item:hover::after {
  width: 100%;
  left: 0;
  background: var(--bg-nav-item-after-clr-2);
}

/* Mobile navigation bar */
.hamburger {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 2.2rem;
  height: 2.2rem;
}

.hamburger:hover {
  display: flex;
}

.hamburger-el {
  height: 3px;
  width: 2rem;
  border-radius: var(--border-radius);
  background-color: var(--bg-hamburger-el-clr);
  transition: var(--transition-eio);
}

.close-button-wrapper {
  display: none;
  align-items: center;
  padding: 1rem 1.5rem;
  width: 100%;
  border-bottom: 1px solid var(--border-bottom-clr-light);
}

.close-button {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
  width: 2.2rem;
  height: 2.2rem;
}

.close-button:hover {
  cursor: pointer;
}

.close-button-el {
  height: 3px;
  width: 2rem;
  border-radius: var(--border-radius);
  background-color: var(--close-mobile-menu-button-clr);
}

.close-button {
  display: flex;
}

.close-button-el:nth-child(1) {
  transform: rotate(45deg) translate(0px, 10px);
}

.close-button-el:nth-child(2) {
  transform: rotate(-45deg) translate(0px, -10px);
}

.lock-scroll {
  overflow: hidden;
}
/* Navigation ends */

/* Header starts */
.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 37.5rem;
  height: calc(100vh - 143px);
  width: 100%;
  transition: var(--transition-eio-slowly);
  background-color: var(--bg-header-clr);
  margin-top: -1px;
  background-image: linear-gradient(transparent 25%, rgba(0, 0, 0, 0.15));
}

.header-container--privacy {
  background-color: var(--bg-header-clr);
  display: flex;
  justify-self: start;
  justify-content: center;
  align-items: center;
  height: calc(60vh + 1px);
  width: 100%;
  margin-top: -1px;
  transition: var(--transition-eio);
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-image: url("/img/hero/hero-2_2400-right.png");
  background-image: url("/img/hero/hero-2_2400-right.webp");
  /* background-image: url("[IMG-Header-Hero-1-right]");
  background-image: url("[IMG-Header-Hero-2-right]"); */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: top 6rem center;
}

.header-wrapper--privacy {
  width: 100%;
  max-width: var(--max-width);
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: var(--max-width);
  height: 100%;
}

.header--privacy {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: var(--max-width);
  height: 100%;
  padding: var(--pad-left-right-medium);
}

.header-hero-text,
.header-hero-text--privacy {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-small);
}

.header-hero-text--privacy h1 {
  text-shadow: none;
}
/* BUTTONS */
.cta-button {
  text-transform: uppercase;
  font-family: var(--ff-text);
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1;
  height: 3.5rem;
  width: fit-content;
  background-color: var(--bg-button-clr-light);
  padding: 16px 24px;
  color: var(--p-clr-light);
  border-radius: var(--border-radius);
  transition: var(--transition-eio);
  backface-visibility: hidden;
}

.cta-button:hover {
  background-color: var(--bg-button-clr-dark);
}

.cta-button--card {
  font-size: 1rem;
  padding: 14px 18px;
  height: auto;
}

/* Animation for headings in the hero section */
.hero-title {
  animation-name: moveInLeft;
  animation-duration: 3s;
  animation-timing-function: ease-out;
  animation-delay: 2s;
  backface-visibility: hidden;
  text-shadow: var(--text-shadow-medium);
}

.hero-title--mobile {
  display: none;
}

.cta-button-animated {
  animation-name: moveInRight;
  animation-duration: 3s;
  animation-timing-function: ease-out;
  animation-delay: 2s;
  backface-visibility: hidden;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-5rem);
  }

  80% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(5rem);
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}
/* Hero ends */
/* HEADER STARTS */

/* MAIN STARTS */
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.main-wrapper {
  width: 100%;
}
/* Tax returns block starts */
.main-tax-returns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap-small);
  width: 100%;
  background-color: var(--bg-header-tax-returns);
}

.main-recommendation-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: var(--gap-small);
  padding: var(--pad-large);
  max-width: var(--max-width);
}
/* Tax returns block ends */

/* Advice block starts */
.advice-container {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: var(--gap-large);
  background-color: var(--bg-section-clr-1);
}

.centered {
  align-self: center;
}

.advice-flex-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  max-width: var(--max-width);
  gap: var(--gap-medium);
  padding: 5.5rem 3rem 6rem 3rem;
}

.advice-flex-wrapper h3,
.advice-flex-wrapper p {
  text-align: center;
}

.advice-flex-wrapper h3 {
  padding-bottom: 0;
}
/* Advice block ends */

.main {
  display: grid;
  grid-template-rows: repeat(4, min-content);
  grid-template-columns: 1fr;
  justify-items: center;
}

.section-component-wrapper,
.main-privacy-wrapper {
  width: 100%;
  max-width: var(--max-width);
  padding: var(--pad-large);
  margin: 3rem 0;
}

.main-privacy-wrapper h3:not(:first-child) {
  padding-top: 1rem;
}

.section-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  grid-template-rows: max-content;
  grid-auto-rows: min-content;
  height: 100%;
  width: 100%;
  gap: var(--gap-large);
}

/* ABOUT US SECTION STARTS*/
.about-us-section {
  display: flex;
  justify-content: center;
  background-color: var(--bg-section-clr-2);
  width: 100%;
  padding: 3rem 0;
}

.section-grid-item-img {
  width: 100%;
  border-radius: var(--border-radius);
}

.section-grid-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
/* ABOUT US SECTION ENDS*/

/* SERVICES SECTION STARTS*/
.services-section {
  display: flex;
  justify-content: center;
  background-color: var(--bg-section-clr-1);
  width: 100%;
  padding: 3rem 0;
}

.services-grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, minmax(5rem, 1fr));
  grid-auto-rows: min-content;
  gap: var(--gap-small);
}

.services-grid-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: var(--gap-small);
  border-radius: var(--border-radius);
  padding: var(--pad-small);
  border: 2px solid var(--border-clr-light-2);
  transition: var(--transition-eio);
}

.services-grid-item:hover {
  background-color: var(--bg-cards-clr-light);
  border: 2px solid var(--border-clr-dark-2);
  box-shadow: var(--box-shadow-dark);
}

.services-grid-item p {
  text-align: center;
  font-weight: 600;
}

.services-icon {
  width: 6rem;
  height: 6rem;
  fill: var(--svg-services-icon-clr);
}

.thinner {
  stroke: rgb(255, 255, 255);
  stroke-width: 4px;
}

.services-suggestion {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  gap: var(--gap-medium);
  padding: 3rem 0 0 0;
}

.services-suggestion-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 65%;
  max-width: var(--max-width);
  gap: var(--gap-small);
}

.services-suggestion-item p {
  text-align: center;
}
/* SERVICES SECTION ENDS*/

/* PRICING SECTION STARTS*/
.pricing-section {
  display: flex;
  justify-content: center;
  background-color: var(--bg-section-clr-2);
  width: 100%;
  padding: 3rem 0;
}

.pricing-flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-large);
}

.pricing-cards-grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-flow: row;
  grid-auto-rows: min-content;
  gap: var(--gap-small);
  width: 100%;
  height: 100%;
}

.pricing-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-cards-clr-light);
  border: 2px solid var(--border-clr-light-2);
  border-radius: var(--border-radius);
  transition: var(--transition-eio);
  height: 100%;
  width: 100%;
}

.pricing-card:hover {
  border: 2px solid var(--border-clr-dark-2);
  box-shadow: var(--box-shadow-dark);
}

.pricing-card--recommended {
  position: relative;
}

.tariff-name {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% + 1px);
  background-color: var(--border-clr-dark-2);
  color: var(--p-clr-light);
  padding: var(--pad-tiny);
  clip-path: polygon(0 0, 100% 0%, 100% 75%, 0% 100%);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  z-index: 2;
  margin-top: -1px;
}

.tariff-name h3 {
  color: var(--h3-clr-light);
  font-size: 1.5rem;
}

.tariff-price {
  padding: var(--pad-small);
  background-color: var(--bg-cards-clr-medium);
  clip-path: polygon(0 15%, 100% 0%, 100% 85%, 0% 100%);
  width: 100%;
  margin-top: -1rem;
  z-index: 1;
}

.tariff-paragraph {
  text-align: center;
  font-weight: 300;
  margin-top: -0.25rem;
}

.span-tariff-price {
  font-size: 2rem;
  font-weight: 700;
  color: var(--p-span-price);
}

sup {
  color: var(--p-sup-clr);
}

.tariff-audience {
  padding: 1rem 1rem 0rem 1rem;
  clip-path: polygon(0 25%, 100% 0%, 100% 100%, 0% 100%);
}

.paragraph-tariff-price {
  font-family: var(--ff-heading);
  font-weight: 400;
  text-align: center;
  color: var(--p-clr-dark-4);
}

.tariff-perks {
  padding: var(--pad-small);
}

.tariff-button {
  display: flex;
  justify-content: center;
  margin-top: auto;
  padding: 0 1.3rem 1.3rem 1.3rem;
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

/* div[class*="tar-content-"] {
} */

.recommended {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: -0.25rem;
  z-index: 3;
}

.recommended-paragraph-tariff-price {
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1;
  color: var(--p-clr-light);
  background-color: var(--bg-recommended-clr-1);
  padding: 4px 6px;
  border: 2px solid var(--border-clr-light);
  border-radius: var(--border-radius);
}

/* .icon-tariff-price {
  display: block;
  text-align: center;
  width: 1.25rem;
  height: 1.25rem;
  bottom: 0.25rem;
  right: 0.25rem;
  position: absolute;
} */

.cards-li-flex {
  list-style: none;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  column-gap: 0.25rem;
}

.cards-li-flex:not(:last-child) {
  padding-bottom: 0.5rem;
}

.cards-li-flex p {
  font-size: 1.1rem;
}

.cards-li-flex-icon {
  fill: var(--svg-cards-icons-clr);
  display: inline-block;
  height: 1.25rem;
  width: 1.25rem;
  padding: 0;
  margin-top: 3px;
  flex-shrink: 0;
}

.pricing-section-chart {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 54rem;
  height: 100%;
  gap: var(--gap-medium);
  padding: var(--pad-large);
  background-color: var(--bg-cards-clr-light);
  border-radius: var(--border-radius);
}

.chart-details {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: auto;
  height: 100%;
  width: 100%;
}

.pricing-chart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pricing-chart-description {
  text-align: center;
}
/* PRICING SECTION ENDS*/

/* CONTACT SECTION STARTS*/
.contact-section {
  display: flex;
  justify-content: center;
  background-color: var(--bg-section-clr-1);
  width: 100%;
  padding: 3rem 0;
}
/* Contact form starts */
.section-contact-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: var(--gap-small);
  margin-top: 0.25rem;
}

.form-fields {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: var(--gap-small);
}

label,
input,
textarea {
  font-family: var(--ff-text);
  color: var(--p-clr-dark-2);
  font-size: 1.2rem;
  line-height: 1.2;
}

input,
textarea {
  padding: 0.5rem;
  background-color: var(--clr-white-2);
  border: 2px solid var(--border-clr-light-2);
  border-radius: var(--border-radius);
}

input::placeholder,
textarea::placeholder {
  color: var(--p-clr-dark-3);
  font-size: 1.2rem;
  font-weight: 300;
}

input:focus,
textarea:focus {
  border: 2px solid var(--border-clr-dark-2);
}

textarea {
  resize: vertical;
}
/* Contact form ends */
/* Notification about the status of the submitting process */
.notification-container {
  display: none;
  position: relative;
}

.fade {
  display: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-tiny);
  width: 100%;
  height: 100%;
  position: fixed;
  inset: 0;
  z-index: 10001;
  backdrop-filter: blur(3px);
  background-color: var(--bg-fade-clr-light);
  transition: var(--transition-eio);
}

@keyframes spinner {
  0% {
    fill: rgb(119, 119, 119);
    transform: rotate(15deg) ease-in-out;
  }
  20% {
    fill: rgba(119, 119, 119, 0.25);
  }
  40% {
    fill: rgba(119, 119, 119, 0.35);
  }
  60% {
    fill: rgba(119, 119, 119, 0.5);
  }

  80% {
    fill: rgba(119, 119, 119, 0.75);
  }

  100% {
    fill: rgba(119, 119, 119, 0.85);
    transform: rotate(360deg);
  }
}

.spinner-icon {
  width: 3rem;
  height: 3rem;
  fill: var(--svg-submitting-icon-clr);
  animation-name: spinner;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.notification-window {
  display: none;
  width: 90%;
  max-width: 30rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10002;
  background-color: var(--bg-notification-clr-light);
  padding: var(--pad-small);
  border-radius: var(--border-radius);
  border: 2px solid var(--border-clr-dark);
  box-shadow: var(--box-shadow-dark);
}

.close-window-button {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.close-window-button:hover {
  cursor: pointer;
}

.close-window-icon {
  width: 2rem;
  height: 2rem;
  fill: var(--svg-close-icon-clr-light);
  transition: var(--transition-eio);
}

.close-modal-icon:hover {
  fill: var(--svg-close-icon-clr-dark);
}

.notification-success {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.success-icon {
  fill: var(--svg-success-icon-clr);
  width: 3.5rem;
  height: 3.5rem;
  margin-top: -0.75rem;
}
/* CONTACT SECTION ENDS*/
/* MAIN ENDS */

/* FOOTER STARTS */
.footer-container {
  display: grid;
  grid-template-rows: 1fr minmax(3rem, min-content);
  grid-template-columns: 1fr;
  width: 100%;
  justify-items: center;
  background-color: var(--bg-footer-clr);
  padding: 3rem 0 0 0;
}

.footer-grid-inner-items {
  display: grid;
  grid-template-rows: repeat(2, minmax(15rem, min-content));
  grid-template-columns: repeat(3, 1fr);
  gap: var(--gap-medium);
}

.footer-flex-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-small);
}

.footer-flex-container .logo-wrapper {
  margin-top: 2px;
  padding-bottom: 1rem;
}

.footer-flex-container .logo-wrapper .logo-icon {
  fill: var(--h4-clr-dark);
}

.footer-flex-container .logo-wrapper .logo-text-span {
  color: var(--h4-clr-dark);
}

.footer-flex-container h4,
.footer-grid-item h4 {
  color: var(--h4-clr-dark);
}

.footer-paragraph,
.footer-link {
  color: var(--p-clr-light-3);
  line-height: 1.4;
  font-size: 1rem;
  font-weight: 400;
}

.footer-link {
  font-family: var(--ff-text);
  transition: var(--transition-eio);
}

.footer-link:hover {
  color: var(--p-clr-light);
}

/* Social media icons starts */
.footer-icons {
  display: flex;
  flex-shrink: 0;
  justify-self: flex-start;
  align-self: flex-start;
  fill: var(--svg-social-icons-clr-light);
  width: 1.25rem;
  height: 1.25rem;
}

.social-icons-grid-container {
  display: grid;
  grid-template-rows: min-content;
  grid-template-columns: repeat(4, min-content);
  gap: 1.5rem;
  padding-top: 0.25rem;
}

.social-icon-icon {
  fill: var(--svg-social-icons-clr-light);
  transform: scale(1);
  transition: var(--transition-eio);
  width: 1.5rem;
  height: 1.5rem;
}

.social-icon-icon:hover {
  fill: var(--svg-social-icons-clr-white);
  transform: scale(1.05);
}
/* Social media icons ends */

/* Address starts */
.contact-details-grid-container {
  display: grid;
  grid-template-rows: minmax(2rem, min-content);
  grid-template-columns: repeat(2, minmax(2rem, max-content));
}

/* Map starts */
.footer-map {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  padding-top: 1.25rem;
}

.map {
  display: block;
  width: 100%;
  border-radius: var(--border-radius);
}

.map-link {
  font-family: var(--ff-text);
  font-size: 1rem;
  font-weight: 300;
  line-height: 1;
  color: var(--p-clr-light-3);
  transition: var(--transition-eio);
}

.map-link:hover {
  color: var(--p-clr-light);
}
/* Map ends */

/* Copy rights starts */
.copyright-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--bg-copyright-clr);
}

.copyright-flex-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: var(--max-width);
  gap: var(--gap-small);
  padding: 0.75rem 3rem;
}

.privacy {
  display: flex;
  align-items: center;
  gap: var(--gap-small);
}
/* Copy rights ends */

/* Go to top button starts */
.go-top {
  display: none;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 1.5rem 3rem rgba(33, 33, 33, 0.2);
  z-index: 2;
}

.arrow-up-background {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(
    255,
    255,
    255
  ); /*!!!!!!!!!!!!!!!!!!!!!!!!!!!!         CHANGE COLOR */
  height: 2.5rem;
  width: 2.5rem;
  position: relative;
  border: 2px solid var(--border-button-clr);
  border-radius: 5px;
  transition: 0.2s ease-in-out;
}

.arrow-up {
  position: absolute;
  height: 2.2rem;
  width: 2.2rem;
  fill: var(--svg-go-to-top-icon-clr);
  transition: 0.2s ease-in-out;
}

.arrow-up-background:hover,
.arrow-up:hover {
  cursor: pointer;
}
/* -- TEMPLATE ENDS -- */

/* Media queries */
/* WIDTH 10240px and HEGHT 5760px */
/* @media (max-width: 640em) and (max-height: 360em) { 
} */

/* WIDTH 7680px and HEGHT 4320px */
/* @media (max-width: 480em) and (max-height: 270em) {
} */

/* WIDTH 3840px and HEGHT 2160px */
/* @media (max-width: 240em) and (max-height: 135em) {
} */

/* WIDTH 2000px */
@media (max-width: 480em) {
  /* .header-wrapper {
    background-position: top 3rem center;
  } */
  .header-hero-text {
    width: 62%;
    padding: var(--pad-extra-large);
  }
}

/* WIDTH 1920px */
@media (max-width: 120em) {
  .header-hero-text {
    width: 60%;
    padding: var(--pad-large);
  }
}

/* WIDTH 1800px */
@media (max-width: 112.5em) {
}

/* WIDTH 1700px */
@media (max-width: 106.25em) {
}

/* WIDTH 1600px */
@media (max-width: 100em) {
  h1 {
    font-size: 2.85rem;
  }
  h2 {
    font-size: 2.3rem;
  }
  h3 {
    font-size: 1.9rem;
  }
  h4 {
    font-size: 1.375rem;
  }
}
/* WIDTH 1500 */

/* WIDTH 1440px */
@media (max-width: 90em) {
  .header-hero-text {
    width: 58%;
  }
  h1 {
    font-size: 2.8rem;
  }
  h2 {
    font-size: 2.2rem;
  }
  h3 {
    font-size: 1.8rem;
  }
  h4 {
    font-size: 1.35rem;
  }
}

/* WIDTH 1366px */
@media (max-width: 85.375em) {
  h1 {
    font-size: 2.75rem;
  }
}

/* WIDTH 1280px */
@media (max-width: 80em) {
  .header-hero-text {
    width: 54%;
  }
  h1 {
    font-size: 2.7rem;
  }
  h2 {
    font-size: 2.1rem;
  }
  h3 {
    font-size: 1.7rem;
  }
  h4 {
    font-size: 1.325rem;
  }
}

/* WIDTH  1264px */
@media (max-width: 79em) {
  .advice-flex-wrapper,
  .services-suggestion-item {
    width: 70%;
  }
  .section-grid-container {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
  .footer-flex-container .logo-wrapper {
    margin-top: 2px;
    padding-bottom: 0.9rem;
  }
}

/* WIDTH  1160px*/
@media (max-width: 72.5em) {
  h1 {
    font-size: 2.65rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.6rem;
  }
  h4 {
    font-size: 1.3rem;
  }

  .services-grid-container {
    gap: var(--gap-medium);
  }
  .pricing-cards-grid-container {
    grid-template-columns: repeat(auto-fit, minmax(21rem, 1fr));
    gap: var(--gap-medium);
  }

  .recommended {
    top: -0.15rem;
  }
  .recommended-paragraph-tariff-price {
    background-color: var(--bg-recommended-clr-2);
  }
}

/* WIDTH 1060px */
@media (max-width: 66.25em) {
  .main-recommendation-wrapper {
    flex-direction: column;
  }

  .main-recommendation-wrapper p {
    text-align: center;
  }
}

/* WIDTH 1024px */
@media (max-width: 64em) {
  .header-hero-text {
    width: 50%;
  }
  h1 {
    font-size: 2.6rem;
  }
  h2 {
    font-size: 1.9rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1.275rem;
  }
  .pricing-flex-container {
    gap: var(--gap-medium);
  }
  .pricing-section-chart {
    display: flex;
    max-width: 48rem;
    gap: var(--gap-small);
    padding: var(--pad-small);
  }
  .copyright-flex-wrapper {
    flex-direction: column;
  }

  .copyright-flex-wrapper p {
    text-align: center;
  }
}

/* WIDTH 912px */
@media (max-width: 57em) {
  .header-hero-text {
    width: 48%;
  }
  h1 {
    font-size: 2.55rem;
  }
  .services-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-auto-rows: minmax(13rem, auto);
  }

  .pricing-section-chart {
    display: flex;
    max-width: 42rem;
    gap: var(--gap-small);
    padding: var(--pad-small);
  }
}

/* WIDTH 820px */
@media (max-width: 51.25em) {
  .pricing-section-chart {
    display: flex;
    max-width: 36rem;
    gap: var(--gap-small);
    padding: var(--pad-small);
  }
}

/* Max-width = 800px*/
@media (max-width: 50em) {
  .header-container {
    background-image: linear-gradient(transparent 15%, rgba(0, 0, 0, 0.5));
  }
  .header-wrapper {
    background-image: url("/img/hero/hero-2_2400-centered.png");
    background-image: url("/img/hero/hero-2_2400-centered.webp");
    /* background-image: url("[IMG-Header-Hero-1]");
  background-image: url("[IMG-Header-Hero-2]"); */
  }
  .header {
    align-items: flex-end;
    justify-content: center;
  }
  .header-hero-text {
    align-items: center;
    background-image: linear-gradient(transparent 2%, rgba(0, 0, 0, 0.75));
    width: 100%;
    padding: 8rem 2rem 4rem 2rem;
    clip-path: polygon(0 25%, 100% 0, 100% 100%, 0% 100%);
  }
  h1 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
    text-shadow: var(--text-shadow-dark);
    text-transform: uppercase;
  }
  h2 {
    font-size: 1.8rem;
    text-align: center;
  }
  h3 {
    font-size: 1.4rem;
    text-align: center;
  }
  .section-grid-item {
    align-items: center;
  }
  .section-grid-item p {
    text-align: center;
  }
  .contact-grid-item p {
    text-align: center;
  }
  .form-button {
    display: flex;
    justify-content: center;
  }
  .fade-mobile {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    inset: 0;
    z-index: 0;
    background-color: var(--bg-fade-clr-dark);
    transition: var(--transition-eio-slowly);
    z-index: 1;
  }

  .show-fade-mobile {
    display: block;
  }
  .nav-wrapper {
    padding: var(--pad-left-right-medium);
  }
  .nav {
    display: hidden;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0;
    position: fixed;
    width: 0%;
    height: 100%;
    top: 0;
    right: -100%;
    bottom: 0;
    transition: var(--transition-eio);
  }

  .nav-mobile {
    top: 0;
    right: 0;
    bottom: 0;
    width: 70%;
    background-color: #333542;
    box-shadow: var(--box-shadow-right-dark);
    z-index: 1;
  }
  .close-button-wrapper {
    display: flex;
  }
  .nav-item-wrapper {
    display: inline-block;
    text-align: left;
    padding: 1.5rem;
    width: 100%;
    border-bottom: 1px solid var(--border-bottom-clr-light);
  }
  .nav-item {
    font-size: 1.3rem;
    font-weight: 400;
  }

  .hero-title {
    animation-name: none;
  }
  .hero-title--desktop {
    display: none;
  }
  .hero-title--mobile {
    display: block;
  }
  .cta-button-animated {
    animation-name: none;
  }

  .hamburger {
    display: flex;
  }
  .main-privacy-wrapper {
    padding: var(--pad-medium);
  }
  /* SUPERIOR ADVICE */
  .advice-flex-wrapper {
    width: 100%;
  }
  .main-recommendation-wrapper {
    padding: 3rem 2rem 3.5rem 2rem;
  }
  .advice-flex-wrapper {
    padding: 3rem 2rem 3.5rem 2rem;
  }
  /* GET IN TOUCH */
  .services-suggestion-item {
    width: 100%;
  }
  .about-us-section {
    padding: 1.25rem 0rem 1.5rem 0rem;
  }
  .section-component-wrapper {
    margin: 0;
    padding: var(--pad-medium);
  }
  .services-section {
    padding: 1.25rem 0rem 1.5rem 0rem;
  }
  .pricing-section {
    padding: 1.25rem 0rem 1.5rem 0rem;
  }

  .contact-section {
    padding: 1.25rem 0rem 1.5rem 0rem;
  }

  .footer-container {
    padding: 1.25rem 0 0 0;
  }
  .pricing-cards-grid-container {
    grid-template-columns: repeat(auto-fit, minmax(18.5rem, 1fr));
  }
  .footer-grid-inner-items {
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    grid-template-rows: max-content;
    grid-auto-rows: min-content;
    gap: var(--gap-medium);
  }
  .footer-flex-container .logo-wrapper {
    margin-top: 2px;
    padding-bottom: 0.85rem;
  }
  .go-top {
    bottom: 2rem;
    right: 2rem;
  }
}

/* WIDTH 740px */
@media (max-width: 46.25em) {
  h1 {
    font-size: 2.4rem;
  }
}

/* WIDTH 700px */
@media (max-width: 43.75em) {
  .hero-title {
  }
  .hero-title--desktop {
    display: none;
  }
  h2 {
    font-size: 1.7rem;
  }
  h3 {
    font-size: 1.3rem;
  }
  h4 {
    font-size: 1.2rem;
  }
  .pricing-section-chart {
    display: flex;
    max-width: 32rem;
  }
  .footer-flex-container .logo-wrapper {
    margin-top: 0px;
    padding-bottom: 0.85rem;
  }
}

/* WIDTH 640px */
@media (max-width: 40em) {
  .nav-wrapper {
    padding: var(--pad-left-right-small);
  }
  .header--privacy {
    padding: var(--pad-left-right-small);
  }

  .main-recommendation-wrapper {
    padding: 1.5rem 1rem 2rem 1rem;
  }

  .advice-flex-wrapper {
    padding: 1.5rem 1rem 2rem 1rem;
  }
  .main-privacy-wrapper {
    padding: var(--pad-small);
  }
  .section-component-wrapper {
    padding: var(--pad-small);
  }
  .pricing-section-chart {
    display: flex;
    max-width: 28rem;
  }
  .go-top {
    bottom: 1rem;
    right: 1rem;
  }
}

/* WIDTH 600px */
@media (max-width: 37.5em) {
  h1 {
    font-size: 2.3rem;
  }
  h2 {
    font-size: 1.6rem;
  }
  .phone-link-number-wrapper {
    transition: none;
    background-color: transparent;
    padding: 0;
  }
  .link-icon-span {
    display: block;
  }
  .link-phone-span {
    display: none;
  }
  .cta-button,
  .cta-button--card {
    font-size: 1rem;
    height: auto;
    padding: 14px 16px;
    line-height: 1.5;
  }
  .pricing-section-chart {
    max-width: 26rem;
    padding: var(--pad-tiny);
  }
  .footer-grid-inner-items {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
}

/* WIDTH 540px */
@media (max-width: 33.75em) {
  h1 {
    font-size: 2.2rem;
  }
  .pricing-section-chart {
    display: none;
  }
}

/* WIDTH 480px */
@media (max-width: 30em) {
  h1 {
    font-size: 2.1rem;
  }
  .services-grid-container {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    grid-auto-rows: min-content;
  }

  .pricing-cards-grid-container {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
}

/* WIDTH 380px */
@media (max-width: 23.75em) {
  h1 {
    font-size: 2rem;
  }
  .phone-link-description {
    font-size: 0.85rem;
  }
  .privacy {
    flex-direction: column;
    gap: var(--gap-tiny);
  }
}
