@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* CSS VARIABLES */
:root {
  /* COLOR */
  /* Blue Shades */
  --clr-blue-dark: rgb(18, 94, 164);
  --clr-blue-linkedin: rgb(10, 102, 194);
  --clr-blue-light: rgb(84, 154, 214);
  --clr-blue-light-2: rgb(237, 245, 253);

  /* Gray Shades */
  --clr-gray: rgb(70, 70, 70);
  --clr-gray-2: rgb(133, 133, 133);
  --clr-gray-light: rgb(239, 239, 239);
  --clr-gray-light-2: rgb(248, 248, 248);
  --clr-gray-light-3: rgb(248, 248, 248, 0.5);
  /* Other Shades */
  --clr-white: rgb(242, 242, 242);
  --clr-white-2: rgb(255, 255, 255);
  --clr-green: rgb(0, 128, 0);
  --clr-green-light: rgb(121, 248, 121);
  --clr-yellow-light: rgba(252, 159, 52, 0.85);
  --clr-yellow-dark: rgba(252, 159, 52, 1);

  /* PADDING */
  --pad-spacer-small: 1rem;
  --pad-spacer-medium: calc(var(--pad-spacer-small) * 2);
  --pad-spacer-large: calc(var(--pad-spacer-small) * 3);
  --pad-spacer-huge: calc(var(--pad-spacer-small) * 4);

  /* GAP */
  --gap-small: 1rem;
  --gap-medium: calc(var(--gap-small) * 2);
  --gap-large: calc(var(--gap-small) * 3);
  --gap-huge: calc(var(--gap-small) * 4);

  /* FONTS */
  --ff-heading: "Roboto", sans-serif;
  --ff-text: "Lato", sans-serif;

  /* BORDER-RADIUS */
  --br: 4px;

  /* SHADOW */
  --box-shadow: 0 1rem 3rem rgba(33, 33, 33, 0.1);
  --text-shadow-light: 2px 2px 6px rgb(242, 242, 242, 0.75);
  --text-shadow-neon: 2px 2px 6px rgba(2, 234, 255, 0.75);
}

/* STYLES BY DEFAULT */

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

input,
select,
button,
textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

a,
a:link,
a:visited,
a:active,
a:hover {
  text-decoration: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-size: inherit;
  font-weight: 400;
  line-height: 1;
}

p {
  padding: 0;
  margin: 0;
  line-height: 1;
}

ul,
li {
  padding: 0;
  margin: 0;
  line-height: 1;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* PROJECT'S STYLES */
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: 100%;
}

/* Typography starts */
h1 {
  font-family: var(--ff-heading);
  font-size: 4rem;
  font-weight: 900;
  color: var(--clr-blue-dark);
  text-transform: uppercase;
  line-height: 1;
}

h2 {
  font-family: var(--ff-heading);
  font-size: 2rem;
  font-weight: 900;
  color: var(--clr-blue-dark);
  line-height: 1;
  padding: 2rem 0 1.5rem 0;
}

h3 {
  font-family: var(--ff-heading);
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--clr-gray);
  line-height: 1;
  padding-bottom: 0.5rem;
}

p {
  font-family: var(--ff-text);
  font-size: 1.2rem;
  font-weight: 300;
  color: var(--clr-gray);
  line-height: 1.2;
}

p:not(:last-child) {
  padding-bottom: 0.75rem;
}

ul {
  font-family: var(--ff-text);
  font-size: 1.2rem;
  font-weight: 300;
  color: var(--clr-gray);
}

li {
  list-style-position: inside;
  line-height: 1.2;
}

li:last-child {
  padding-bottom: 0.75rem;
}
/* Typography ends */

/* Quick contact dashboard starts */
.quick-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  width: 100%;
  max-width: 125rem;
  height: 3.2rem;
  padding: 0 1rem;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 1rem;
  background-color: var(--clr-gray-light);
}

.quick-contact__linkedin-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.linkedin-icon {
  padding: 0;
  margin: 0;
  line-height: 1;
  fill: var(--clr-gray-2);
}

.quick-contact__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 1rem;
}

.cta-phone-number {
  display: block;
  margin: 0 auto;
}

.cta-phone-number__link {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-family: var(--ff-text);
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1;
  height: 100%;
  width: 12rem;
  background-color: var(--clr-yellow-light);
  padding: var(--pad-spacer-small);
  color: var(--clr-white);
  letter-spacing: 0.001rem;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  cursor: pointer;
}

.cta-phone-number__link:hover {
  background-color: var(--clr-yellow-dark);
  -webkit-transform: scaleX(1.01);
  transform: scaleX(1.01);
  letter-spacing: 0.025rem;
}
/* Quick contact dashboard ends */

/* Navigation starts */
.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(var(--clr-blue-light-2)),
    to(transparent)
  );
  background-image: linear-gradient(
    to right,
    var(--clr-blue-light-2),
    transparent
  );
  height: 8rem;
  padding: 2.5rem 0;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.sticky {
  height: 4rem;
  position: sticky;
  top: 0;
  background-color: var(--clr-white);
  background-image: none;
  -webkit-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
  z-index: 1;
}

.navigation__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  max-width: 100rem;
  padding: 0 3rem;
}

.navigation__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.logo {
  display: block;
  max-height: 2.5rem;
}

.navigation__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: flex;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  gap: var(--gap-medium);
}

.navigation-item {
  font-family: var(--ff-text);
  color: var(--clr-gray);
  font-size: 1.2rem;
  font-weight: 300;
}
/* Navigation ends */

/* Header starts */
.header {
  background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(var(--clr-blue-light-2)),
      to(transparent)
    ),
    url("/img/hero/hero-2_2400.jpg");
  background-image: linear-gradient(
      to right,
      var(--clr-blue-light-2),
      transparent
    ),
    url("[HERO_IMG_1]");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: right top 2.5rem;
  min-height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: 100%;
  max-width: 100rem;
  padding: 0 3rem;
  margin-top: -11rem;
}

.header__hero-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: var(--gap-small);
  width: 50%;
  padding: var(--pad-spacer-large);
  background-image: -webkit-gradient(
    linear,
    right top,
    left top,
    from(var(--clr-gray-light)),
    to(transparent)
  );
  background-image: linear-gradient(
    to left,
    var(--clr-gray-light),
    transparent
  );
  border-radius: var(--br);
  -webkit-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
}

.hero-text-paragraph {
  font-size: 1.5rem;
  color: var(--clr-gray-2);
  font-weight: 400;
}

.get-quote-button {
  text-transform: uppercase;
  font-family: var(--ff-text);
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1;
  height: 100%;
  width: 12rem;
  background-color: var(--clr-yellow-light);
  padding: var(--pad-spacer-small);
  color: var(--clr-white);
  letter-spacing: 0.001rem;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  border-radius: var(--br);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  cursor: pointer;
}

.get-quote-button:hover {
  background-color: var(--clr-yellow-dark);
  -webkit-transform: scaleX(1.01);
  transform: scaleX(1.01);
  letter-spacing: 0.025rem;
}

/* Animation */
/* Animation for headings */
.heading-main {
  -webkit-animation-name: moveInLeft;
  animation-name: moveInLeft;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;

  -webkit-backface-visibility: hidden;

  backface-visibility: hidden;
}

.heading-sub {
  -webkit-animation-name: moveInRight;
  animation-name: moveInRight;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;

  -webkit-backface-visibility: hidden;

  backface-visibility: hidden;
}

.cta-button-animated {
  -webkit-animation-name: ctaBtnShaked;
  animation-name: ctaBtnShaked;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-delay: 6s;
  animation-delay: 6s;

  -webkit-backface-visibility: hidden;

  backface-visibility: hidden;
}

@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-5rem);
    transform: translateX(-5rem);
  }

  80% {
    -webkit-transform: translateX(1rem);
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0rem);
    transform: translateX(0rem);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-5rem);
    transform: translateX(-5rem);
  }

  80% {
    -webkit-transform: translateX(1rem);
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0rem);
    transform: translateX(0rem);
  }
}

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(5rem);
    transform: translateX(5rem);
  }

  80% {
    -webkit-transform: translateX(-1rem);
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0rem);
    transform: translateX(0rem);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(5rem);
    transform: translateX(5rem);
  }

  80% {
    -webkit-transform: translateX(-1rem);
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0rem);
    transform: translateX(0rem);
  }
}

@-webkit-keyframes ctaBtnShaked {
  0% {
    opacity: 0;
    -webkit-transform: translateY(1rem);
    transform: translateY(1rem);
  }

  20% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }

  30% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  40% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }

  50% {
    opacity: 0.6;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  60% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }

  80% {
    -webkit-transform: translateY(-1rem);
    transform: translateY(-1rem);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0rem) rotateY(0deg);
    transform: translateY(0rem) rotateY(0deg);
  }
}

@keyframes ctaBtnShaked {
  0% {
    opacity: 0;
    -webkit-transform: translateY(1rem);
    transform: translateY(1rem);
  }

  20% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }

  30% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  40% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }

  50% {
    opacity: 0.6;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  60% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }

  80% {
    -webkit-transform: translateY(-1rem);
    transform: translateY(-1rem);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0rem) rotateY(0deg);
    transform: translateY(0rem) rotateY(0deg);
  }
}

/* Header ends */

/* Main starts */
.main-grid-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: 100%;
  row-gap: 7rem;
  margin: 7rem 0;
}

.about-us-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  opacity: 0;
  width: 30%;
  max-width: 100rem;
  padding: 0 3rem;
}

.about-us-section__info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr var(--gap-large) 1fr;
  grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: -webkit-max-content;
  -ms-grid-rows: max-content;
  grid-template-rows: -webkit-max-content;
  grid-template-rows: max-content;
  height: 100%;
  width: 100%;

  gap: var(--gap-large);
}

.about-us-section__info > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.about-us-section__info > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.info-1,
.info-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-image: -webkit-gradient(
    linear,
    right top,
    left bottom,
    from(var(--clr-blue-light-2)),
    to(var(--clr-gray-light-3))
  );
  background-image: linear-gradient(
    to left bottom,
    var(--clr-blue-light-2),
    var(--clr-gray-light-3)
  );
  padding: var(--pad-spacer-small);
  -webkit-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
  border-radius: var(--br);
}

.info-2__img {
  display: block;
  width: 100%;
  border-radius: var(--br);
}

/* SERVICES SECTION */
.services-section__grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: -webkit-min-content;
  -ms-grid-rows: min-content;
  grid-template-rows: -webkit-min-content;
  grid-template-rows: min-content;
  -ms-grid-columns: 1fr var(--gap-large) 1fr;
  grid-template-columns: 1fr 1fr;
  gap: var(--gap-large);
  width: 100%;
  height: 100%;
  border-radius: var(--br);
}
.services-section__grid-container > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.services-section__grid-container > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.services-grid-item-1 {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  background-image: -webkit-gradient(
    linear,
    right top,
    left bottom,
    from(var(--clr-blue-light-2)),
    to(var(--clr-gray-light-3))
  );
  background-image: linear-gradient(
    to left bottom,
    var(--clr-blue-light-2),
    var(--clr-gray-light-3)
  );
  padding: var(--pad-spacer-small);
  border-radius: var(--br);
  -webkit-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
}

.services-image {
  display: block;
  width: 100%;
  border-radius: var(--br);
}

.services-questions {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  right: 2rem;
  padding: var(--pad-spacer-small);
  background-color: var(--clr-white);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  border-radius: var(--br);
}

.services-questions p {
  color: var(--clr-gray);
  text-shadow: var(--text-shadow-light);
  font-weight: 400;
}

.services-grid-item-2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: minmax(5rem, 1fr) var(--gap-small) minmax(5rem, 1fr)
    var(--gap-small) minmax(5rem, 1fr);
  grid-template-rows: repeat(3, minmax(5rem, 1fr));
  -ms-grid-columns: 1fr var(--gap-small) 1fr var(--gap-small) 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--gap-small);
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(
    linear,
    right top,
    left bottom,
    from(var(--clr-blue-light-2)),
    to(var(--clr-gray-light-3))
  );
  background-image: linear-gradient(
    to left bottom,
    var(--clr-blue-light-2),
    var(--clr-gray-light-3)
  );
  padding: var(--pad-spacer-small);
  border-radius: var(--br);
  -webkit-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
}

.services-grid-item-2 > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.services-grid-item-2 > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.services-grid-item-2 > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.services-grid-item-2 > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.services-grid-item-2 > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.services-grid-item-2 > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}

.services-grid-item-2 > *:nth-child(7) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}

.services-grid-item-2 > *:nth-child(8) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}

.services-grid-item-2 > *:nth-child(9) {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
}

.services-grid-item {
  background-color: var(--clr-blue-dark);
  border-radius: var(--br);
  padding: var(--pad-spacer-small);
  border: 2px solid transparent;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.services-grid-item p {
  color: var(--clr-white-2);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.services-grid-item:hover {
  background-color: var(--clr-white-2);
  border: 2px solid var(--clr-blue-dark);
}

.services-grid-item:hover > p {
  color: var(--clr-gray);
}

/* PRICING SECTION */
.services-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  opacity: 0;
  width: 50%;
  max-width: 100rem;
  padding: 0 3rem;
}
.pricing-section,
.contact-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  opacity: 1;
  width: 100%;
  max-width: 100rem;
  padding: 0 3rem;
}

.pricing-section-grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: -webkit-min-content;
  -ms-grid-rows: min-content;
  grid-template-rows: -webkit-min-content;
  grid-template-rows: min-content;
  -ms-grid-columns: 1fr var(--gap-large) 1fr;
  grid-template-columns: 1fr 1fr;
  gap: var(--gap-large);
  width: 100%;
  height: 100%;
  border-radius: var(--br);
}

.pricing-section-grid-container > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.pricing-section-grid-container > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.pricing-section__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: minmax(15rem, -webkit-min-content) var(--gap-small)
    minmax(15rem, -webkit-min-content);
  -ms-grid-rows: minmax(15rem, min-content) var(--gap-small)
    minmax(15rem, min-content);
  grid-template-rows: repeat(2, minmax(15rem, -webkit-min-content));
  grid-template-rows: repeat(2, minmax(15rem, min-content));
  -ms-grid-columns: 1fr var(--gap-small) 1fr var(--gap-small) 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--gap-small);
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(
    linear,
    right top,
    left bottom,
    from(var(--clr-blue-light-2)),
    to(var(--clr-gray-light-3))
  );
  background-image: linear-gradient(
    to left bottom,
    var(--clr-blue-light-2),
    var(--clr-gray-light-3)
  );
  padding: var(--pad-spacer-small);
  border-radius: var(--br);
  -webkit-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
}

.pricing-section__cards > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.pricing-section__cards > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.pricing-section__cards > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.pricing-section__cards > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.pricing-section__cards > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.pricing-section__cards > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}

div[class*="tariff-"],
.tar-ask-for {
  display: block;
  background-color: var(--clr-blue-dark);
  color: var(--clr-white);
  padding: var(--pad-spacer-small);
  border-radius: var(--br);
  width: 100%;
  height: 100%;
}

div[class*="tariff-"] h3,
.tar-ask-for h3 {
  color: var(--clr-white);
  text-align: center;
}

div[class*="tar-content-"] h3 {
  text-align: center;
}

.tariff-1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
}

.tar-content-1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  background-color: var(--clr-white);
}

.tariff-2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
}

.tar-content-2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  background-color: var(--clr-white);
}

.tariff-3 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
}
.tar-content-3 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  background-color: var(--clr-white);
}

.tariff-4 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
}
.tar-content-4 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  background-color: var(--clr-white);
}

.tariff-5 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
}
.tar-content-5 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  background-color: var(--clr-white);
}

.paragraph-tariff-price {
  text-align: center;
  color: var(--clr-gray-light-2);
  line-height: 1.3;
}

.tariff-3 {
  position: relative;
}

.recommended-paragraph-tariff-price {
  position: absolute;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  color: var(--clr-white-2);
  background-color: var(--clr-yellow-dark);
  padding: 4px 6px;
  margin: 0;
  border: 1px solid var(--clr-white-2);
  border-radius: var(--br);
  left: 50%;
  bottom: -1.5rem;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.span-tariff-price {
  font-size: 2rem;
  font-weight: 700;
  color: var(--clr-yellow-dark);
}

.icon-tariff-price {
  display: block;
  text-align: center;
  width: 1.5rem;
  height: 1.5rem;
  margin: auto 0 0 auto;
}

.tar-ask-for {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
}

.tar-ask-for p {
  color: var(--clr-white-2);
}

.tar-content-1,
.tar-content-2,
.tar-content-3,
.tar-content-4,
.tar-content-5 {
  background-color: var(--clr-white-2);
  padding: var(--pad-spacer-small);
  border-radius: var(--br);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  display: none;
  border: 2px solid var(--clr-blue-dark);
}

.cards-li-flex {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-column-gap: 0.25rem;
  -moz-column-gap: 0.25rem;
  column-gap: 0.25rem;
}

.cards-li-flex__icon {
  fill: var(--clr-green-light);
  display: inline-block;
  height: 1.25rem;
  width: 1.25rem;
  padding: 0;
  margin-top: 2px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.tar-content-hidden {
  z-index: -1000;
}

.tar-content-show {
  display: block;
  z-index: 1000;
}

.pricing-section__chart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  gap: var(--gap-small);
  background-image: -webkit-gradient(
    linear,
    right top,
    left bottom,
    from(var(--clr-blue-light-2)),
    to(var(--clr-gray-light-3))
  );
  background-image: linear-gradient(
    to left bottom,
    var(--clr-blue-light-2),
    var(--clr-gray-light-3)
  );
  padding: var(--pad-spacer-small);
  border-radius: var(--br);
  -webkit-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
}

.pricing-chart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}

/*! CONTACT SECTION */
/* Text area */
.contact-section__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: -webkit-max-content;
  -ms-grid-rows: max-content;
  grid-template-rows: -webkit-max-content;
  grid-template-rows: max-content;
  -ms-grid-columns: minmax(20rem, 1fr) var(--pad-spacer-large)
    minmax(20rem, 1fr) var(--pad-spacer-large) minmax(20rem, 1fr);
  grid-template-columns: repeat(3, minmax(20rem, 1fr));
  gap: var(--pad-spacer-large);
}
.contact-section__items > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.contact-section__items > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.contact-section__items > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.contact-text-area,
.contact-form-area,
.contact-map-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  background-image: -webkit-gradient(
    linear,
    right top,
    left bottom,
    from(var(--clr-blue-light-2)),
    to(var(--clr-gray-light-3))
  );
  background-image: linear-gradient(
    to left bottom,
    var(--clr-blue-light-2),
    var(--clr-gray-light-3)
  );
  padding: var(--pad-spacer-small);
  border-radius: var(--br);
  -webkit-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
}

/* Contact form area */
.section-contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  gap: var(--gap-small);
}

.section-contact__form,
.section-contact__map {
  padding-top: 0.25rem;
}

.form-fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  gap: var(--gap-small);
}

.form-button {
  margin-top: 2rem;
}

label,
input,
textarea {
  font-family: var(--ff-text);
  color: var(--clr-gray);
  font-size: 1.2rem;
  line-height: 1.2;
}

input,
textarea {
  padding: 0.5rem;
  background-color: var(--clr-white-2);
  border: 2px solid var(--clr-blue-light-2);
  border-radius: 4px;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: var(--clr-gray-2);
  font-size: 1rem;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: var(--clr-gray-2);
  font-size: 1rem;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: var(--clr-gray-2);
  font-size: 1rem;
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  color: var(--clr-gray-2);
  font-size: 1rem;
}

input::placeholder,
textarea::placeholder {
  color: var(--clr-gray-2);
  font-size: 1rem;
}

input:focus,
textarea:focus {
  border: 2px solid var(--clr-blue-dark);
}

textarea {
  resize: vertical;
}

.submit-button {
  text-transform: uppercase;
  font-family: var(--ff-text);
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1;
  height: 100%;
  width: 100%;
  background-color: var(--clr-yellow-light);
  padding: var(--pad-spacer-small);
  color: var(--clr-white);
  letter-spacing: 0.001rem;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  border-radius: var(--br);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  cursor: pointer;
}

.submit-button:hover {
  background-color: var(--clr-yellow-dark);
  -webkit-transform: scaleX(1.01);
  transform: scaleX(1.01);
  letter-spacing: 0.025rem;
}

/* Map */
.section-contact__map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
}

.map {
  display: block;
  width: 100%;
  border-radius: var(--br);
}

.map__link {
  font-family: var(--ff-text);
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1;
  color: var(--clr-gray-2);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.map__link:hover {
  color: var(--clr-gray);
}

/*! FOOTER FOOTER FOOTER */
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  padding: var(--pad-spacer-small);
  background-image: -webkit-gradient(
    linear,
    right top,
    left bottom,
    from(var(--clr-blue-light-2)),
    to(var(--clr-gray-light-3))
  );
  background-image: linear-gradient(
    to left bottom,
    var(--clr-blue-light-2),
    var(--clr-gray-light-3)
  );
  margin-top: 2rem;
}
.fotter__wrapper {
  width: 100%;
  max-width: 100rem;
  padding: 0 3rem;
}

.footer .logo {
  margin: 0.25rem 0 0.75rem 0;
}

.footer__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: minmax(10rem, -webkit-min-content);
  -ms-grid-rows: minmax(10rem, min-content);
  grid-template-rows: minmax(10rem, -webkit-min-content);
  grid-template-rows: minmax(10rem, min-content);
  -ms-grid-columns: minmax(6rem, 15rem) var(--gap-medium) minmax(6rem, 15rem)
    var(--gap-medium) minmax(6rem, 15rem) var(--gap-medium) minmax(6rem, 15rem)
    var(--gap-medium) minmax(6rem, 15rem) var(--gap-medium) minmax(6rem, 15rem);
  grid-template-columns: repeat(6, minmax(6rem, 15rem));
  gap: var(--gap-medium);
}

.footer__items > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.footer__items > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.footer__items > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.footer__items > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}

.footer__items > *:nth-child(5) {
  -ms-grid-row: 1;
  -ms-grid-column: 9;
}

.footer__items > *:nth-child(6) {
  -ms-grid-row: 1;
  -ms-grid-column: 11;
}

.footer-paragraph {
  font-size: 1.1rem;
}

.footer-paragraph a {
  color: var(--clr-gray-2);
}

.footer-paragraph a:hover {
  color: var(--clr-gray);
}

.footer-paragraph:not(:last-child) {
  padding-bottom: 0.75rem;
}

.item-location__grid-container,
.item-hours__grid-container,
.item-phones__grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: minmax(2rem, -webkit-min-content);
  -ms-grid-rows: minmax(2rem, min-content);
  grid-template-rows: minmax(2rem, -webkit-min-content);
  grid-template-rows: minmax(2rem, min-content);
  -ms-grid-columns: (minmax(2rem, -webkit-max-content)) [2];
  -ms-grid-columns: (minmax(2rem, max-content)) [2];
  grid-template-columns: repeat(2, minmax(2rem, -webkit-max-content));
  grid-template-columns: repeat(2, minmax(2rem, max-content));
}

.item-location__grid-container > *:nth-child(1),
.item-hours__grid-container > *:nth-child(1),
.item-phones__grid-container > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.item-location__grid-container > *:nth-child(2),
.item-hours__grid-container > *:nth-child(2),
.item-phones__grid-container > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.item-hours__grid-container:not(:last-child) {
  padding-bottom: 0.75rem;
}

.footer-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  justify-self: flex-start;
  fill: var(--clr-gray-2);
  width: 1.25rem;
  height: 1.25rem;
}

.social-icons-grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr var(--gap-small) 1fr;
  grid-template-rows: repeat(2, 1fr);
  -ms-grid-columns: -webkit-min-content var(--gap-small) -webkit-min-content;
  -ms-grid-columns: min-content var(--gap-small) min-content;
  grid-template-columns: repeat(2, -webkit-min-content);
  grid-template-columns: repeat(2, min-content);
  gap: var(--gap-small);
}

.social-icons-grid-container > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.social-icons-grid-container > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.social-icons-grid-container > *:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.social-icons-grid-container > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.social-icon__icon {
  fill: var(--clr-gray-2);
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.social-icon__icon:hover {
  fill: var(--clr-gray);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.about-us-section__info-test {
  opacity: 0.1;
}
