@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* CSS VARIABLES */
:root {
  /* COLOR */
  /* Blue Shades */
  --clr-blue-dark: rgb(18, 94, 164);
  --clr-blue-linkedin: rgb(10, 102, 194);
  --clr-blue-light: rgb(84, 154, 214);
  --clr-blue-light-2: rgb(237, 245, 253);

  /* Gray Shades */
  --clr-gray: rgb(70, 70, 70);
  --clr-gray-2: rgb(133, 133, 133);
  --clr-gray-light: rgb(239, 239, 239);
  --clr-gray-light-2: rgb(248, 248, 248);
  /* Other Shades */
  --clr-white: rgb(242, 242, 242);
  --clr-white-2: rgb(255, 255, 255);
  --clr-green: rgb(0, 128, 0);
  --clr-yellow-light: rgba(252, 159, 52, 0.85);
  --clr-yellow-dark: rgba(252, 159, 52, 1);

  /* PADDING */
  --pad-spacer-small: 1rem;
  --pad-spacer-medium: calc(var(--pad-spacer-small) * 2);
  --pad-spacer-large: calc(var(--pad-spacer-small) * 3);
  --pad-spacer-huge: calc(var(--pad-spacer-small) * 4);

  /* GAP */
  --gap-small: 1rem;
  --gap-medium: calc(var(--gap-small) * 2);
  --gap-large: calc(var(--gap-small) * 3);
  --gap-huge: calc(var(--gap-small) * 4);

  /* FONTS */
  --ff-heading: "Roboto", sans-serif;
  --ff-text: "Lato", sans-serif;

  /* BORDER-RADIUS */
  --br: 4px;

  /* SHADOW */
  --box-shadow: 0 1rem 3rem rgba(33, 33, 33, 0.1);
  --text-shadow-light: 2px 2px 6px rgb(242, 242, 242, 0.75);
}

/* STYLES BY DEFAULT */

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

input,
select,
button,
textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

a,
a:link,
a:visited,
a:active,
a:hover {
  text-decoration: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-size: inherit;
  font-weight: 400;
  line-height: 1;
}

p {
  padding: 0;
  margin: 0;
  line-height: 1;
}

ul,
li {
  padding: 0;
  margin: 0;
  line-height: 1;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1;
  box-sizing: border-box;
}

/* PROJECT'S STYLES */
body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /*! Test */
  min-height: 200vh;
}

/* Typography starts */
h1 {
  font-family: var(--ff-heading);
  font-size: 4rem;
  font-weight: 900;
  color: var(--clr-blue-dark);
  text-transform: uppercase;
  line-height: 1;
}

h2 {
  font-family: var(--ff-heading);
  font-size: 2rem;
  font-weight: 900;
  color: var(--clr-blue-dark);
  line-height: 1;
  padding: 2rem 0 1.5rem 0;
}

h3 {
  font-family: var(--ff-heading);
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--clr-gray);
  line-height: 1;
  padding-bottom: 0.5rem;
}

p {
  font-family: var(--ff-text);
  font-size: 1.2rem;
  font-weight: 300;
  color: var(--clr-gray);
  line-height: 1.2;
}

p:not(:last-child) {
  padding-bottom: 0.75rem;
}

ul {
  font-family: var(--ff-text);
  font-size: 1.2rem;
  font-weight: 300;
  color: var(--clr-gray);
}

li {
  list-style-position: inside;
  line-height: 1.2;
}

li:last-child {
  padding-bottom: 0.75rem;
}
/* Typography ends */

/* Quick contact dashboard starts */
.quick-contact {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  max-width: 125rem;
  min-height: 3rem;
  padding: 0 1rem;
  align-self: center;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  background-color: var(--clr-gray-light);
}

.quick-contact__linkedin-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.linkedin-icon {
  padding: 0;
  margin: 0;
  line-height: 1;
  fill: var(--clr-blue-linkedin);
}

.quick-contact__phone {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  font-family: var(--ff-text);
  font-size: 1.2rem;
  font-weight: 300;
  color: var(--clr-gray);
  line-height: 1;
}

.cta-phone-number {
  display: block;
  margin: 0 auto;
}

.cta-phone-number__link {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-weight: 400;
  height: 100%;
  width: 12rem;
  background-color: var(--clr-yellow-light);
  padding: var(--pad-spacer-small);
  color: var(--clr-white);
  letter-spacing: 0.001rem;
  transform: scaleX(1);
  transition: 0.25s ease-in-out;
  cursor: pointer;
}

.cta-phone-number__link:hover {
  background-color: var(--clr-yellow-dark);
  transform: scaleX(1.01);
  letter-spacing: 0.025rem;
}
/* Quick contact dashboard ends */

/* Navigation starts */
.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* height: 4rem;
  background-color: var(--clr-blue-dark); */
  height: 8rem;
  padding: 2.5rem 0;
}

.navigation {
  background-image: linear-gradient(
    to right,
    var(--clr-gray-light),
    transparent
  );
}

.navigation__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 100rem;
  padding: 0 3rem;
}

.navigation__logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.logo {
  display: block;
  max-height: 2.5rem;
}

.navigation__menu {
  display: flex;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-medium);
  position: sticky;
}

.navigation-item {
  font-family: var(--ff-text);
  color: var(--clr-gray);
  font-size: 1.2rem;
  font-weight: 300;
}
/* Navigation ends */

/* Header starts */
.header {
  background-image: linear-gradient(
      to right,
      var(--clr-gray-light),
      transparent
    ),
    url("/img/hero/hero-2_2400.jpg");
  /* background-image: url("/img/compressed-hero/hero_2400.webp"); */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: right top 5rem;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
  clip-path: polygon(0 0, 100% 0%, 100% 90%, 50% 100%, 0 90%);
  /* box-shadow: 0 1rem 3rem rgba(33, 33, 33, 0.1); */
}

/* .header {
  right: calc(100% + 20px);
  background-image: linear-gradient(
    linear,
    right top,
    left top,
    from(var(--clr-blue-light)),
    color-stop(130%, transparent)
  );
  background-image: -o-linear-gradient(
    right,
    var(--clr-blue-light),
    transparent 130%
  );
  background-image: linear-gradient(
    to left,
    var(--clr-blue-light),
    transparent 130%
  );
  background-color: transparent;
} */

/* .header:after {
  left: calc(100% + 20px);
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(var(--wp--preset--color--secondary)),
    color-stop(130%, transparent)
  );
  background-image: -o-linear-gradient(
    left,
    var(--wp--preset--color--secondary),
    transparent 130%
  );
  background-image: linear-gradient(
    to right,
    var(--wp--preset--color--secondary),
    transparent 130%
  );
  background-color: transparent;
} */

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 100rem;
  padding: 0 3rem;
  margin-top: -11rem;
}

.header__hero-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-small);
  width: 50%;
  padding: var(--pad-spacer-large);
  /* background-color: var(--clr-gray-light-2); */
  background-image: linear-gradient(
    to left,
    var(--clr-gray-light),
    transparent
  );
  /* clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%); */

  /* backdrop-filter: blur(5px); */
  /* clip-path: polygon(0 0, 100% 0%, 100% 90%, 50% 100%, 0 90%); */
  border-radius: var(--br);
  /* overflow: hidden; */
  box-shadow: 0 1rem 3rem rgba(33, 33, 33, 0.1);
  /* border-image: fill 0 linear-gradient(var(--clr-gray-light), var(--clr-white)); */
}

.hero-text-paragraph {
  font-size: 1.3rem;
  font-weight: 400;
  /* text-shadow: var(--text-shadow-light); */
}
/* Header ends */

/* Main starts */
